
.modalWrapper {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.35);
}

.modalContent {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 50%;
    width: 75%;
    border-radius: 5px;
    padding: 1rem;
    transform: translate(-50%, -50%);
    background-color: white;
}

@media (min-width: 900px) {
    .modalContent {
        width: 50%;
    }
}