
.cardPost {
    cursor: pointer;
}

.cardPost:hover {
    box-shadow: 0px 0px 3px 5px #17b711;
    transition: ease-in-out .5s;
}

.cardImage {
    object-fit: cover;
    height: 15rem;
    transition: ease 0.5s;
}

.chipsGroup{
    justify-content: space-between;
    display: flex;
}

.chips {
    border-radius: 10px;
    font-size: 0.7rem;
    background-color: royalblue;
    color: white;
    padding: 0.2rem 1rem;
}